pandas>=2.1
numpy>=1.26
plotly>=5.18
matplotlib>=3.8
seaborn>=0.13

dataretrieval>=1.0

pmdarima>=2.0

sktime>=0.25

scikit-learn>=1.3

permetrics>=1.4

# Required for NeuralForecastLSTM
neuralforecast>=1.6
torch>=2.1
pytorch-lightning>=2.1


